<?xml version="1.0"?>

<launch>
   <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_name" default="camera" />
  <arg name="camera_serial" default="0" />
  <arg name="calibrated" default="0" />
  <arg name="video_mode" default="format7_mode0" />
  <arg name="frame_rate" default="36" />
  <arg name="auto_exposure" default="true" />
  <arg name="exposure" default="1.35" />  <!-- exposure value EV, to change exosure time, adjust shutter_speed -->
  <arg name="auto_shutter" default="true" />
  <arg name="shutter_speed" default="0.01" />  <!-- seconds, not ms -->
  <arg name="auto_gain" default="true" />
  <arg name="gain" default="0" />
  <arg name="pan" default="0" />
  <arg name="tilt" default="0" />
  <arg name="brightness" default="0.0" />
  <arg name="auto_sharpness" default="true" />
  <arg name="sharpness" default="1024.0" />
  <arg name="auto_saturation" default="true" />
  <arg name="saturation" default="100.0" />
  <arg name="gamma" default="1.0" />
  <arg name="auto_white_balance" default="true" />
  <arg name="white_balance_blue" default="800" />
  <arg name="white_balance_red" default="550" />
  <arg name="format7_roi_width" default="0" />
  <arg name="format7_roi_height" default="732" />
  <arg name="format7_x_offset" default="0" />
  <arg name="format7_y_offset" default="900" />
  <arg name="format7_color_coding" default="raw8" />
  <arg name="trigger_enabled" default="true" />
  <arg name="trigger_mode" default="mode14" />
  <arg name="GPIO2_mode" default="input" />
  <arg name="GPIO3_mode" default="output" />
  <arg name="trigger_source" default="gpio0" />
  <arg name="trigger_polarity" default="1" />
  <arg name="enable_trigger_delay" default="false" />
  <arg name="trigger_delay" default="0.0" />
  <arg name="trigger_parameter" default="0" />
  <arg name="enable_strobe1" default="false" />
  <arg name="strobe1_polarity" default="0" />
  <arg name="strobe1_delay" default="0.0" />
  <arg name="strobe1_duration" default="0.0" />
  <arg name="enable_strobe2" default="false" />
  <arg name="strobe2_polarity" default="0" />
  <arg name="strobe2_delay" default="0.0" />
  <arg name="strobe2_duration" default="0.0" />

  <group ns="$(arg camera_name)">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="camera" />
      <param name="serial" value="$(arg camera_serial)" />
      <param name="video_mode" value="$(arg video_mode)"  />
      <param name="frame_rate" value="$(arg frame_rate)" />
      <param name="auto_exposure" value="$(arg auto_exposure)" />
      <param name="exposure" value="$(arg exposure)" />
      <param name="auto_shutter" value="$(arg auto_shutter)" />
      <param name="shutter_speed" value="$(arg shutter_speed)" />
      <param name="auto_gain" value="$(arg auto_gain)" />
      <param name="gain" value="$(arg gain)" />
      <param name="pan" value="$(arg pan)" />
      <param name="tilt" value="$(arg tilt)" />
      <param name="brightness" value="$(arg brightness)" />
      <param name="auto_sharpness" value="$(arg auto_sharpness)" />
      <param name="sharpness" value="$(arg sharpness)" />
      <param name="auto_saturation" value="$(arg auto_saturation)" />
      <param name="saturation" value="$(arg saturation)" />
      <param name="gamma" value="$(arg gamma)" />
      <param name="auto_white_balance" value="$(arg auto_white_balance)" />
      <param name="white_balance_blue" value="$(arg white_balance_blue)" />
      <param name="white_balance_red" value="$(arg white_balance_red)" />
      <param name="format7_roi_width" value="$(arg format7_roi_width)" />
      <param name="format7_roi_height" value="$(arg format7_roi_height)" />
      <param name="format7_x_offset" value="$(arg format7_x_offset)" />
      <param name="format7_y_offset" value="$(arg format7_y_offset)" />
      <param name="format7_color_coding" value="$(arg format7_color_coding)" />
      <param name="enable_trigger" value="$(arg trigger_enabled)" />
      <param name="trigger_mode" value="$(arg trigger_mode)" />
      <param name="GPIO2_mode" value="$(arg GPIO2_mode)" />
      <param name="GPIO3_mode" value="$(arg GPIO3_mode)" />
      <param name="trigger_source" value="$(arg trigger_source)" />
      <param name="trigger_polarity" value="$(arg trigger_polarity)" />
      <param name="enable_trigger_delay" value="$(arg enable_trigger_delay)" />
      <param name="trigger_delay" value="$(arg trigger_delay)" />
      <param name="trigger_parameter" value="$(arg trigger_parameter)" />
      <param name="enable_strobe1" value="$(arg enable_strobe1)" />
      <param name="strobe1_polarity" value="$(arg strobe1_polarity)" />
      <param name="strobe1_delay" value="$(arg strobe1_delay)" />
      <param name="strobe1_duration" value="$(arg strobe1_duration)" />
      <param name="enable_strobe2" value="$(arg enable_strobe2)" />
      <param name="strobe2_polarity" value="$(arg strobe2_polarity)" />
      <param name="strobe2_delay" value="$(arg strobe2_delay)" />
      <param name="strobe2_duration" value="$(arg strobe2_duration)" />
      
      

      <!-- When unspecified, the driver will use the default framerate as given by the
           camera itself. Use this parameter to override that value for cameras capable of
           other framerates. -->
      <!-- <param name="frame_rate" value="15" /> -->

      <!-- Use the camera_calibration package to create this file -->
      <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>
  </group>
</launch>
